<% provide(:title, "Edit Quiz") %>
<% content_for :pageBar do %>
	<%= link_to "Topics", topics_path %> > <%= link_to @topic.name, topic_path(@topic) %> > <%= link_to @quiz.name, quiz_path(@quiz) %> > <%= link_to "Edit", edit_quiz_path(@quiz) %>
<% end %>

<%= nested_form_for @quiz, html:{multipart: true} do |f| %>
	<%= render 'shared/errors', object: f.object%>

	<p><%= f.label :name%>
	<%= f.text_field :name%></p>


	<h5>Easy Questions</h5>

	<div class="all" difficulty="easy">
		<%= render 'form', f: f, type: @easy %>
	</div>

	<h5>Medium Questions</h5>

	<div class="all" difficulty="med">
		<%= render 'form', f: f, type: @med %>
	</div>

	<h5>Hard Questions</h5>

	<div class="all" difficulty="hard">
		<%= render 'form', f: f, type: @hard %>
	</div>


	<%= f.submit "Edit Quiz"%>
<% end %>

<p><%= link_to "Delete Quiz", @quiz, method: :delete, 
				data: {confirm: "Are you sure?"} %></p>