<% provide(:title, @quiz.name) %>
<% content_for :pageBar do %>
	<%= link_to "Topics", topics_path %> > <%= link_to @parent.name, '#' %> > <%= link_to @quiz.name, quiz_path(@quiz) %>
<% end %>
<p><%= @quiz.name %></p>
<%= @quiz.quizParent.class.name %>

<h4>Questions</h4>

<% @questions.each do |question| %>
	<p><%= question.text %>    <%= question.maxValue %></p>
	<ul>
		<% question.answers.each do |answer| %>
			<li><%= answer.text %>      <%= answer.value %> </li>
		<% end %>
	</ul>
<% end %>

	<%= link_to "Edit Quiz", edit_quiz_path %>