<% provide(:title, @quiz.name) %>
<% content_for :pageBar do %>
	<%= link_to "Topics", topics_path %> > <%= link_to @topic.name, topic_path(@topic) %> > <%= link_to @quiz.name, quiz_path(@quiz) %>
<% end %>

<%= form_tag grade_quiz_path do %>
	<% @questions.each do |question| %>
		<%= hidden_field_tag ("id" + @counter.to_s), question.id %>
		<p><%= question.text %></p>
		<p><%= text_field_tag(("guess" + @counter.to_s), nil, autocomplete: :off)%></p>
		<% @counter += 1 %>
		<br/>
	<% end %>
	<%= submit_tag "Finish" %>
<% end %>