<% provide(:title, 'Create Session')%>
<% content_for :pageBar do %>
	<%= link_to "Tutors", tutors_path %>  > <%= link_to "Create Session", new_session_path %>
<% end %>
<h1>Create Session</h1>
<%= form_for(@session) do |f| %>
	
	<%= render 'shared/errors', object: f.object%>

	<%= render 'sessions/form', f: f %>

	<p><%= f.submit "Create Session" %></p>

<% end %>