<% provide(:title, "Edit Admin") %>
<% content_for :pageBar do %>
	<%= link_to "Admins", admins_path %> > <%= link_to @admin.displayName, admin_path(@admin) %> > <%= link_to "Edit", edit_admin_path(@admin) %>
<% end %>

<h1>Edit <%= @admin.displayName %>'s Profile</h1>
<%= form_for(@admin) do |f| %>

	<%= render 'shared/editForm', f: f %>

	<p><%= f.submit "Update Account" %></p>

<% end %>