<% provide(:title, 'Admin Page') %>
<% content_for :pageBar do %>
	<%= link_to "Admins", admins_path %> > <%= link_to @admin.displayName, admin_path(@admin) %>
<% end %>
<h3>This is the Admin show page</h3>
<p><%= @admin.displayName %></p>
<p><%= @admin.email %></p>

<% if currentAdmin == @admin %>
	<p><%= link_to "Delete Account", @admin, method: :delete, 
				data: {confirm: "Are you sure?"} %></p>
<% end %>