<% provide(:title, 'Student Page') %>
<% content_for :pageBar do %>
	<%= link_to "Students", students_path %> > <%= link_to @student.displayName, student_path(@student) %>
<% end %>

<div class="columns large-2 bio">
	<p class="name"><%= @student.displayName %></p>
	<p><%= @student.realName unless @student.realName.blank?%></p>
	<p><%= gravatar(@student, size: 200)%></p>
	<br/>
	<p><%= @student.created_at.strftime("Joined: %b #{@student.created_at.day.ordinalize} %Y") %></p>
	<p><%= @student.email %></p>
	<p><%= @student.dob unless @student.dob.blank?%></p>
	<p><%= @student.gender == "0" ? "Male" : "Female" %></p>
	<p><%= @student.biography unless @student.biography.blank?%></p>
	<% if currentStudent == @student || adminSignedIn?%>
		<p><%= link_to "Edit Account", edit_student_path(@student) %></p>
		<p><%= link_to "Delete Account", @student, method: :delete,
					data: {confirm: "Are you sure?"} %></p>
	<% end %>
</div>

<div class="columns large-10 main">
	<div id="tutors" class="profileBox">
		<h4>Hired Tutors</h4>
		<% @student.tutors.each do |tutor| %>
			<p>
				<%= gravatar(tutor, size: 25) %>
				<%= link_to tutor.displayName, tutor_path(tutor) %>
				<% tutor.certifications.each do |cert| %>
					 - <%= cert.subject.name %>
				<% end %>
			</p>
		<% end %>
	</div>
	<div id="videos" class="profileBox">
		<h4>All Topics</h4>
		<p>You have watched <%= @percentage %>% (<%= @numViews %> of <%= @numVideos %>) of the videos.</p>
	</div>
	<div id="sessions" class="profileBox">
		<h4>Upcoming Sessions</h4>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Tutor</th>
					<th>Subject(s)</th>
					<th>Location</th>
					<th>Price</th>
					<th>Tutor's Note</th>
				</tr>
			</thead>
			<tbody>
				<% @student.sessions.upcoming.each do |session| %>
					<tr>
						<td><%= session.time %></td>
						<td><%= session.time %></td>
						<td><%= session.tutor.displayName %></td>
						<td>
							<% session.subjects.each do |sub| %>
								<%= sub.name %>
							<% end %>
						</td>
						<td><%= session.location %></td>
						<td><%= session.price %></td>
						<td><%= session.tutorNote %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div id="quizzes" class="profileBox">
		<h4>All Quizzes</h4>
	</div>
</div>
