<p><%= f.label :name%>
<%= f.text_field :name%></p>

<p><%= f.label :description%>
<%= f.text_area :description%></p>



<h4>Videos</h4>
<p>Video formats currently supported: ogg, webm</p>
<%= f.fields_for :videos, html:{multipart: true} do |builder| %>
	<p><div class="vid"><%=  builder.text_field :name %></div><br/>
	<%= builder.file_field :imageFile %>
	<%= builder.link_to_remove "Remove Video", data: {confirm: "Are you sure?"} %></p>
<% end %>
<p><%= f.link_to_add "Add Video", :videos %></p>
<br/>


<h4>Worksheets</h4>
<%= f.fields_for :worksheets, html:{multipart: true} do |builder| %>
	<p><div class="pdf"><%=  builder.text_field :name %></div><br/>
	<%= builder.file_field :pdfFile %>
	<%= builder.link_to_remove "Remove Worksheet", data: {confirm: "Are you sure?"} %></p>
<% end %>
<p><%= f.link_to_add "Add Worksheet", :worksheets %></p>
<br/>

<h4>Quizzes</h4>
<%= f.fields_for :quizzes, html:{multipart: true} do |builder| %>
	<p><div class="quiz"><%=  builder.text_field :name %>
	<%= builder.link_to_remove "Remove Quiz", data: {confirm: "Are you sure?"} %></div></p>
<% end %>
<p><%= f.link_to_add "Add Quiz", :quizzes %></p>
