<% provide(:title, "Edit Topic") %>
<% content_for :pageBar do %>
	<%= link_to "Topics", topics_path %> > <%= link_to @topic.name, topic_path(@topic) %> > <%= link_to "Edit", edit_topic_path(@topic) %>
<% end %>

<%= nested_form_for @topic, html:{multipart: true} do |f| %>
	<%= render 'shared/errors', object: f.object%>
	
	<%= render 'editTopic', f: f %>

	<%= f.submit "Edit Topic"%>
<% end %>

<p><%= link_to "Delete Topic", @topic, method: :delete, 
				data: {confirm: "Are you sure?"} %></p>