<% provide(:title, @topic.name) %>
<% content_for :pageBar do %>
	<%= link_to "Topics", topics_path %> > <%= link_to @topic.name, topic_path(@topic) %>
<% end %>
<p><%= @topic.name %></p>
<p><%= @topic.description %></p>

<%= render 'showVideos' %>



<% if !@worksheets.empty? %>
	<h5><%= "Worksheet".pluralize(@worksheets.count) %></h5>
<% end %>

<% @worksheets.each do |worksheet| %>
	<p><%= link_to worksheet.name, worksheet, target: "_blank" %></p>
<% end %>

<%= render 'showQuizzes' %>

<% if adminSignedIn?%>
	<br/><p><%= link_to "Edit Topic", edit_topic_path %></p>
<% end %>
