<% provide(:title, "Edit User") %>
<% content_for :pageBar do %>
	<%= link_to "Users", users_path %> > <%= link_to @user.firstName, user_path(@user) %> > <%= link_to "Edit", edit_user_path(@user) %>
<% end %>

<h1>Edit <%= @user.firstName %>'s Profile</h1>
<%= form_for(@user) do |f| %>

	<%= render 'shared/form', f: f %>

	<p><%= f.submit "Update Account" %></p>

<% end %>

	