<% provide(:title, @video.name) %>
<% content_for :pageBar do %>
	<%= link_to "Topics", topics_path %> > <%= link_to @topic.name, topic_path(@topic) %> > <%= link_to @video.name, video_path(@video) %>
<% end %>
<p><%= @video.name %></p>
<p><%= @video.filename %></p>

   	<% if studentSignedIn? && @viewed%>
		<p>You have already viewed this video</p>
   	<% end %>


<%= video_tag "/topics/#{@video.topic.id}/videos/" + @video.filename, :controls => true %>

<p><%= link_to "Return to Topic", @topic %></p>