<%= render 'shared/errors', object: f.object%>

<p><%= f.label "Name"%>
<%= f.text_field :displayName, size: 5%>
<%= f.text_field :realName, size: 8%></p>

<% if f.object.class.name.downcase != "admin" %>

	<p><%= f.label :street%>
	<%= f.text_field :street%></p>

	<p><%= f.label :city%>
	<%= f.text_field :city, size: 5%>
	<%= f.label :state%>
	<%= f.text_field :state, size: 3%>
	<%= f.label :zipcode%>
	<%= f.text_field :zipcode, size: 1%></p>

	<p><%= f.label :phone%>
	<%= f.text_field :phone, size: 8%></p>

	<% if f.object.class.name.downcase == "tutor" %>

		<p><%= f.label :wage%>
		<%= f.text_field :wage, size: 3%></p>

	<% end %>

<% end %>

<p><%= f.label :email%>
<%= f.text_field :email%></p>

<p><%= f.label "Date of Birth"%>
<%= f.date_field :dob%></p>

<p><%= f.label :gender%>
<%= f.select :gender, [['Male', 0], ['Female', 1]]%></p>

<p><%= f.label :biography%>
<%= f.text_area :biography%></p>