<%= render 'shared/errors', object: f.object%>

<p><%= f.label "Name"%>
<%= f.text_field :firstName, size: 5%>
<%= f.text_field :lastName, size: 8%></p>

<p><%= f.label :email%>
<%= f.text_field :email%></p>

<p><%= f.label "Date of Birth"%>
<%= f.date_field :dob%></p>

<p><%= f.label :gender%>
<%= f.select :gender, [['Male', 0], ['Female', 1]]%></p>

<p><%= f.label :password%>
<%= f.password_field :password%></p>

<p><%= f.label :password_confirmation, "Confirmation"%>
<%= f.password_field :password_confirmation%></p>