Sign In | <%= link_to "Register", signup_path %>
<ul>
	<li>
		<%= form_for(:user, url: signin_path, remote: true) do |f| %>


		<%= f.text_field :email, size: 10, value: "Email", onfocus: "this.value=''", autocomplete: :off%>

		<%= f.text_field :password, size: 10, value: "Password", onfocus: "this.value=''; this.type='password'"%>

		<%= f.submit "Sign In" %>
		<% end %>
	</li>
</ul>