<% provide(:title, @department.name) %>
<% content_for :pageBar do %>
	<%= link_to "Departments", departments_path %> > <%= link_to @department.name, department_path(@department) %>
<% end %>
<p><%= @department.name %></p>

<% @subjects.each do |subject| %>
	<p><%= link_to subject.name, subject_path %></p>
<% end %>

<% if adminSignedIn?%>
	<br/><p><%= link_to "Edit Department", edit_department_path %></p>
<% end %>
