<% provide(:title, 'Edit Subject')%>
<% content_for :pageBar do %>
	<%= link_to "Edit Subject", '#' %>
<% end %>
<h1>Edit Subject</h1>
<%= nested_form_for [@department, @subject] do |f| %>
	
	<%= render 'shared/errors', object: f.object%>

	<%= render 'editSubject', f: f %>

	<p><%= f.submit "Edit Subject" %></p>

<% end %>