<% provide(:title, 'Create Subject')%>
<% content_for :pageBar do %>
	<%= link_to "Create Subject", new_subject_path %>
<% end %>
<h1>Create Subject</h1>
<%= nested_form_for @subject do |f| %>
	
	<%= render 'shared/errors', object: f.object%>

	<p><%= f.label :name%>
	<%= f.text_field :name%></p>

	<%= f.fields_for :subjects, html:{multipart: true} do |subject_form| %>
		<p><%= subject_form.label :name%>
		<%= subject_form.text_field :name%></p>
		<%= subject_form.link_to_remove "Remove Subject" %>
	<% end %>
	<%= f.link_to_add "Add Subject", :subjects %>

	<p><%= f.submit "Create Subject" %></p>

<% end %>