<% provide(:title, @subject.name) %>
<% content_for :pageBar do %>
	<%= link_to "Departments", departments_path %> > <%= link_to @subject.name, department_subject_path(@subject.department, @subject) %>
<% end %>
<p><%= @subject.name %></p>

<% @topics.each do |topic| %>
	<p><%= link_to topic.name, topic %></p>
<% end %>

<% if adminSignedIn?%>
	<br/><p><%= link_to "Edit Subject", edit_department_subject_path(@subject.department, @subject) %></p>
<% end %>
