<div id="navigation">
	<b><%= link_to "Alpha Omega Tutoring", root_path%></b>
	<ul>
		<li><%= link_to "Students", students_path%></li>
		<li><%= link_to "Topics", topics_path%>
		</li>
		<li id="signin">
			<% if studentSignedIn? %>
				<%= render 'shared/signoutU' %>
			<% else %>
				<% if adminSignedIn? %>
					<%= render 'shared/signoutA' %>
				<% else %>
					<%= render 'shared/signin'%>
				<% end %>
			<% end %>
		</li>
	</ul>
</div>
<div id="pagebar">
	<%= fullPageBar(yield(:pageBar)) %>
</div>