<b><%= link_to "Alpha Omega Tutoring", root_path%></b>
<ul>
	<li><%= link_to "Students", students_path%></li>
	<li><%= link_to "Tutors", tutors_path%></li>
	<li>
		<%= render 'layouts/departments' %>
	</li>
	<li id="signin">
		<% if studentSignedIn? %>
			<%= link_to currentStudent.displayName, currentStudent%>
			<ul>
				<li><%= link_to "Account", student_path(currentStudent)%></li>
				<li><%= link_to "Settings", edit_student_path(currentStudent)%></li>
				<br/>
				<li><%= link_to "Sign Out", signout_path, method: :post%></li>
			</ul>
		<% else %>
			<% if tutorSignedIn? %>
				<%= link_to currentTutor.displayName, currentTutor%>
				<ul>
					<li><%= link_to "Account", tutor_path(currentTutor)%></li>
					<li><%= link_to "Settings", edit_tutor_path(currentTutor)%></li>
					<br/>
					<li><%= link_to "Sign Out", signout_path, method: :post%></li>
				</ul>
			<% else %>
				<% if adminSignedIn? %>
					<%= link_to currentAdmin.displayName, currentAdmin%>
					<ul>
						<li><%= link_to "Account", admin_path(currentAdmin)%></li>
						<li><%= link_to "Settings", edit_admin_path(currentAdmin)%></li>

						<li><%= link_to "Sign Out", signout_path, method: :post %></li>
					</ul>
				<% else %>
					Sign In | <%= link_to "Register", signup_path %>
					<ul>
						<%= form_for(:student, url: signin_path) do |f| %>
						<li>
							<%= f.text_field :email, size: 10, value: "Email", onfocus: "this.value=''", autocomplete: :off%>
						</li>
						<li>
							<%= f.text_field :password, size: 10, value: "Password", onfocus: "this.value=''; this.type='password'"%>
						</li>
						<li>
							<%= f.submit "Sign In" %>
						</li>
						<% end %>
					</ul>
				<% end %>
			<% end %>
		<% end %>
	</li>
</ul>
